<template>
  <div>
    sds
    <v-alert
      outlined
      color="purple"
      v-for="(info,index) in infoHa" :key="index"
    >
      <div class="text-h6">
        {{ info }}
      </div>
      <div>Maecenunc lacus. enenatis ante odio sit amet eros.</div>
    </v-alert>

  </div>
</template>

<script>
export default {
  name: 'InfoBoxCompKeith',
  props: {
    infoHa: Object
  }
}
</script>

<style scoped>

</style>
