<template>
  <div>

    <v-card
      class=""

      outlined
    >
      <v-list dense>
        <v-subheader class="primary text-h6 white--text">
          <i class="mdi mdi-newspaper"></i>
          Saxion {{ $t("News") }}
        </v-subheader>
        <v-list-item-group
          v-model="selectedItem"
          color="primary"
        >
          <v-list-item
            class="text-h7" v-for="(newsItem,index) in newsItems" v-bind:key="index"
          >

            <router-link v-bind:to="{params: { id:  newsItem.slug }}"> {{ newsItem.title }}</router-link>

          </v-list-item>
        </v-list-item-group>
      </v-list>
    </v-card>

  </div>
</template>

<script>

export default {
  name: 'NewsMenuKeith',
  props: {
    newsItems: Array
  },
  data () {
    return {}
  }

}
</script>

<style scoped>

</style>
